@tailwind base;
@tailwind components;
@tailwind utilities;

@import './_styles/index.css';
@import './_styles/navbar.css';
@import './_styles/sidebarlayout_1.css';

* {
  margin: 0;
}

html{
  overflow-y: scroll;
}

@layer base {
  :root {
    --navbar-height: 70px;
    /* --background: 0 0% 100%; */
    --background: hsl(360, 100%, 100%, 1);
    --foreground: hsl(222.2 84% 4.9%);
    --background-contrast: #f6f6f970;
       /* --------------------------------------- */
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(222.2 84% 4.9%);
       /* --------------------------------------- */
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2 84% 4.9%);
    /* --------------------------------------- */
    --primary: hsl(222.2 47.4% 11.2%);
    --primary: hsl(341, 100%, 50%, 1);
    --primary-foreground: hsl(210 40% 98%);
     /* --------------------------------------- */
    --secondary: hsl(210 40% 96.1%);
    --secondary-foreground: hsl(222.2 47.4% 11.2%);
      /* --------------------------------------- */
    --muted: hsl(210 40% 96.1%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);
      /* --------------------------------------- */
    --accent: hsl(210 40% 96.1%);
    --accent-foreground: hsl(222.2 47.4% 11.2%);
       /* --------------------------------------- */
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(210 40% 98%);
      /* --------------------------------------- */
    --box-shadow01: rgba(0, 0, 0, 0.15) 1.10px 1.10px 1.6px;
    --border: hsl(214.3 31.8% 91.4%);
    --input: hsl(214.3 31.8% 91.4%);
    --ring: hsl(222.2 84% 4.9%);
    --radius: 0.5rem;
  }
 
  .dark {
    --background: hsl(222.2 84% 4.9%);
    --foreground: hsl(210 40% 98%);
 
    --card: hsl(222.2 84% 4.9%);
    --card-foreground: hsl(210 40% 98%);
 
    --popover: hsl(222.2 84% 4.9%);
    --popover-foreground: 210 40% 98%;
 
    --primary: hsl(210 40% 98%);
    --primary-foreground: hsl(222.2 47.4% 11.2%);
 
    --secondary: hsl(0, 0%, 11%);
    --secondary-foreground: hsl(210 40% 98%);
 
    --muted: hsl(214, 14%, 34%);
    --muted-foreground: hsl(215 20.2% 65.1%);
 
    --accent: hsl(217.2 32.6% 17.5%);
    --accent-foreground: hsl(210 40% 98%);
 
    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(210 40% 98%);
 
    --border: hsl(217.2 32.6% 17.5%);
    --input: hsl(217.2 32.6% 17.5%);
    --ring: hsl(212.7 26.8% 83.9%);
    --box-shadow01:  rgba(105, 105, 105, 0.973) 1.10px 1.10px 1.6px;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  margin-top: 70px;
  position: absolute;
 
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #d6d6d656; */


}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #55555513;
}