.burger {
    border-radius: 4px;
    margin-left: 10px;
    background-color: var(--card-layer-01);
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
    cursor: pointer;
}

.burger_line {
    width: 20px;
    height: 4px;
    background-color: var(--primary);
    margin: 2px 0;
    border-radius: 2px;
}

.burger_line:hover {
    transform: scale(0.9);
}



.burger-x .line_2 {
    display: none;
}


