body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 71px);

}
.section-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
    /* background-color: rgba(94, 94, 94, 0.205); */

}
.main-wrapper {
    width: 65%;
    min-height: calc(100vh - 71px);
    margin-right: 20px;
    padding-top: 20px;
}


.auth-wrapper {
    width: 65%;
    min-height: calc(100vh - 71px);
    margin-right: 20px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-container {
    border-bottom: 1px solid var(--muted);
    margin-bottom: -1px;
    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    
   
}

nav {
    width: 60%;
    max-width: 1400px;
    display: grid;
    width: 100%;
    height: var(--navbar-height);
    grid-template-columns: 100px 1fr 200px;
    align-items: center;
}

nav .links {
    display: inline-flex;
    align-items: center;
    color: var(--muted-foreground);
}

nav .links div {
    padding: 4px 6px;
    border-radius: 5px;
}

nav .links a {
    align-items: center;
    margin-right: 8px;
    padding: 6px;
    border-radius: 6px;
   
    
}

.link-active {
    background-color: var(--muted);
    border-radius: 6px;
    box-shadow: var(--box-shadow01);
    color: var(--foreground);
}

nav .right-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

nav .right-nav div {
    margin-right: 10px;
}






/* FORM WRAPPERS */
.form-wrapper {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.021);
    width: 100%;
    max-width: 500px;
    border: 1px solid #e5e7eb;
   
}

.form {
    width: 100%;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: var(--card);
    color: var(--muted-foreground);
}




.login-form-intro h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

.login-form-intro p {
    font-size: 1rem;
    color: var(--muted);
    font-weight: 200;
    margin-top: -6px;
}
/* PASSWORD INPUT AND ICONS: */
.password-icon-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 50%;
    transform: translateY(-25%);
    cursor: pointer;
}

.password-icon {
    color: var(--accent);
}


.avatar {
    transition: transform 0.1s ease-in-out;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px, rgba(0, 0, 0, 0.021) 0px 1px 1px 0px;

}

.avatar:active {
    transform: scale(0.80);
}

.theme-switch {
    border-radius: 30px;
    width: 50px;
    height: 32px;
    padding: 3px;
    margin: 5px 0px;
    cursor: pointer;
    position: relative;
    
}

.inner-switch {
    transition: all 2s ease-in-out;
    border-radius: 50%;
    background-color: var(--background);
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.inner-switch svg {
    font-size: 15px;
}